version: '3.9'

networks:
  inception:
    driver: bridge

volumes:
  mariadb_data:
    driver: local
    driver_opts:
      type: none
      o: bind
      device: /home/${LOGIN}/data/mariadb_data
  wordpress_files:
    driver: local
    driver_opts:
      type: none
      o: bind
      device: /home/${LOGIN}/data/wordpress_files

services:
  mariadb:
    build: ./requirements/mariadb
    container_name: mariadb
    env_file:
      - .env
    networks:
      - inception
    volumes:
      - mariadb_data:/var/lib/mysql
    restart: unless-stopped

  wordpress:
    build: ./requirements/wordpress
    container_name: wordpress
    env_file:
      - .env
    networks:
      - inception
    volumes:
      - wordpress_files:/var/www/html
    depends_on:
      - mariadb
    restart: unless-stopped

  nginx:
    build: ./requirements/nginx
    container_name: nginx
    env_file:
      - .env
    networks:
      - inception
    volumes:
      - wordpress_files:/var/www/html:ro
    ports:
      - "443:443"
    depends_on:
      - wordpress
    restart: unless-stopped
